* {
  font-family: "Roboto", sans-serif;
  background-color: rgba(213, 229, 244, 0.435);
}

nav .navbar-brand{
    color: rgb(98, 98, 224);
}

nav span{
    background-color: rgb(102, 102, 244);
    color: white;
    padding: 5px;
    border-radius: 15px;
    font-family: 'Dancing Script', cursive;
}

.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

header ul li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

header ul li:hover{
    color: rgb(83, 83, 244);
}
#items-num{
    width: 100%;
    height: 30px;
    text-align: center;
}